a {
  float: left;
  padding-top:20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 16px;
  font-size: 30px;
  color:white;
  background-color: black;
  position: relative;
  margin:0px;
  left:;
  width: 260px;
  margin-top: 0px;
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
a:hover{
  color:black;
  background-color: #AE8648;
}
#f{
  padding: 5px;
  padding-top:20px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-right: 5px;
  width:70px;
  height: 39px;
  position: relative;
  text-align: left;
  index:3;


}
#cont{
  float: left;
  padding-top:20px;
  padding-bottom: 20px;
  padding-right: 35px;
  padding-left: 30px;
  font-size: 30px;
  color:white;
  background-color: black;
  position: relative;
  margin:0px;
  width: 260px;
  margin-top: 0px;
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto Mono', monospace;

}
img{
  width: 60px;
  height:60px;
  right:px;
  float:left;
  position: relative;
  top:-10px;


}
#cont:hover{
  color:black;
  background-color: #AE8648;

}

#rerto:hover{
  background-color: black;
  color:white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow, 0 0 20px yellow, 0 0 25px yellow, 0 0 30px yellow, 0 0 35px yellow;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
  }
}
#About{
  top:10px;
  width:1890px ;
  height: 600px;
  position:relative;
}
body{
  background-image: url('back5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
h1,h2,h3,h4,h5{
  text-align: center;
  font-family: 'Cute Font', cursive;
  font-size: 80px;
}
#p1,#p2,#p3,#p4{
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  font-weight: bolder;
}
#tag{
  color:red;
  cursor:pointer;
}

#tag:hover{
  color:grey;
}
